<form method="post" action="{{ path('source_unblock', {'id' : source.id}) }}" onsubmit="return confirm('Your source available to transalion again, are you sure?');">
    <input type="hidden" name="_token" value="{{ csrf_token('unblock' ~ source.id) }}">
    <button class="btn">Unblock</button>
</form>