{% extends 'base.html.twig' %}

{% block title %}New Traduction Source{% endblock %}

{% block body %}
    <h1>Create new Traduction Source</h1>

    {{ include('traduction_source/_form.html.twig') }}

    <a href="{{ path('project_index') }}">back to list</a>
{% endblock %}
